.productItem {
  width: 172.91px;
  height: 210.2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.productItem .badge {
  display: inline-block;
  padding: 4px 9px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  background: #2bbef9 !important;
  border: 5px;
  z-index: 100;
  font-size: 15px;
}
.productItem .actions {
  position: absolute;
  top: 20px;
  right: -90%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.5s ease-in-out;
}
.productItem .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 50% !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0 0 0 /12%), 0 1px 2px rgba(0 0 0 /24%) !important;
  transition: all 0s !important;
}
.productItem .actions button svg {
  color: #000 !important;
  opacity: 0.7;
  pointer-events: none;
  font-size: 20px !important;
}
.productItem .actions button:hover {
  background: #233a95 !important;
}
.productItem .actions button:hover svg {
  color: #fff !important;
}
.productItem .imagWrapper {
  overflow: hidden;
  height: 100% !important;
  width: 100% !important;
}
.productItem .imagWrapper img {
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
}
.productItem .imagWrapper:hover img {
  transform: scale(1.1);
}
.productItem .imagWrapper:hover .actions {
  opacity: 1;
  right: 10px;
}
