.mainmenu .meinmenuUp {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.meinmenuDown {
  width: 100%;
  margin: 0 auto;
  height: 31.1vh !important;
}

.meinmenuDown .swiper {
  width: 100% !important;
  height: 100% !important;
}
.Slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
