.container {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
}

.loginForm {
  height: 60vh;
  width: 30%;
  position: relative;
  top: 22%;
  padding: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
form {
  text-align: center;
}
