.MegaSell {
  width: 98.4%;
  margin: 0 auto;
  height: 450px;
  margin-top: 10px;
  display: block;
  justify-content: space-between;
}
.MegaSell .megasellUp {
  width: 100%;
  height: 16%;
  background: linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  border-radius: 6px;
}
.MegaSell .megasellUp h1 {
  text-transform: uppercase;
  font-weight: 700;
}
.megasellDown {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
  height: 84%;
}
.megasellDown .megasellDownRight {
  width: 47%;
  height: 100%;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  background-image: url("https://img.freepik.com/premium-photo/smartphone-with-sunset-top_950347-33316.jpg?ga=GA1.1.2114228154.1725182854&semt=ais_hybrid");
}

.megasellDown .megasellDownLeft {
  width: 47%;
  height: 100%;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  background-image: url("https://img.freepik.com/free-vector/computer-ventilation-system-template_1284-45256.jpg?ga=GA1.1.2114228154.1725182854&semt=ais_hybrid");
}
