.ViewRecent {
  width: 98.4%;
  margin: 0 auto;
  height: 350px;
  margin-top: 10px;

  display: block;
  justify-content: space-between;
}
.ViewRecent .RecentviewTop {
  width: 100%;
  height: 23%;

  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
}
.ViewRecent .RecentviewDown {
  width: 100%;
  height: 77%;

  width: 100%;
  margin: 0 auto;
}
.swiper {
  width: 100% !important;
  height: 100% !important;
}
.Slide {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 100% !important;
  border: 1px solid black;
}
.container {
  height: 100% !important;
  width: 100% !important;
}
.containerUp {
  height: 75%;
  width: 100%;
  padding: 8px;
}
.containerUp img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: 0.2s all ease-in-out;
}

.containerUp img:hover {
  width: 104%;
  height: 104%;
}
.containerDown {
  height: 25%;
  width: 100%;
  padding: 0px 8px;
  text-align: center;
}
.containerDown p {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px;
}
.price {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price .currPrice {
  font-weight: bold;
  margin-right: 5px;
}
.price .oldPrice {
  text-decoration: line-through;
}

.ViewRecent .swiper-button-next:after {
  content: "\f138" !important;
  font-family: fontAwesome !important;
  font-weight: bold;
}
.ViewRecent .swiper-button-prev:after {
  content: "\f137" !important;
  font-family: fontAwesome !important;
  font-weight: bold;
}

.viewMore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.viewBox {
  height: 48px;
  width: 90px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0px 5px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.viewBox .more {
  font-size: 20px;
  font-weight: 500;
}
.viewBox:hover {
  background-color: blue;
  color: white;
}
.container {
  height: 100% !important;
  width: 100% !important;
  cursor: pointer;
}
