.menuItems {
  width: 100%;
  margin: 0 auto;
  height: 28vh !important;
  background-color: aqua;
}

.swiper {
  width: 100% !important;
  height: 100% !important;
}

.slide {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 100% !important;
}

.slide1 {
  background-image: url("https://assets0.mirraw.com/banner_sliders/11436/Ganesh-Chaturthi-Dom-27_main_webp.webp?1724755682") !important;
}
.slide2 {
  background-image: url("https://assets0.mirraw.com/banner_sliders/11428/Saree-Banner-20Aug_%281%29_main_webp.webp?1724163489");
}
.slide3 {
  background-image: url("https://assets0.mirraw.com/banner_sliders/11073/PL-Banner_%281%29_main_webp.webp?1724220152");
}
.slide4 {
  background-image: url("https://assets0.mirraw.com/banner_sliders/11138/Set-to-impres-DESK_main_webp.webp?1724233287");
}
.slide5 {
  background-image: url("https://assets0.mirraw.com/banner_sliders/11073/PL-Banner_%281%29_main_webp.webp?1724220152");
}
.slide6 {
  background-image: url("https://image-marketing.s3.ap-south-1.amazonaws.com/showcase-2024/pink-navratri/Showcase_01.jpg");
}
.slide7 {
  background-image: url("https://assets0.mirraw.com/banner_sliders/11436/Ganesh-Chaturthi-Dom-27_main_webp.webp?1724755682") !important;
}
.slide8 {
  background-image: url("https://assets0.mirraw.com/banner_sliders/11428/Saree-Banner-20Aug_%281%29_main_webp.webp?1724163489");
}
.slide9 {
  background-image: url("https://assets0.mirraw.com/banner_sliders/11073/PL-Banner_%281%29_main_webp.webp?1724220152");
}
.slide10 {
  background-image: url("https://assets0.mirraw.com/banner_sliders/11138/Set-to-impres-DESK_main_webp.webp?1724233287");
}
.slide11 {
  background-image: url("https://assets0.mirraw.com/banner_sliders/11073/PL-Banner_%281%29_main_webp.webp?1724220152");
}
.slide12 {
  background-image: url("https://image-marketing.s3.ap-south-1.amazonaws.com/showcase-2024/pink-navratri/Showcase_01.jpg");
}
.swiper-button-next:after {
  content: "\f138" !important;
  font-family: fontAwesome !important;
  font-weight: bold;
}
.swiper-button-prev:after {
  content: "\f137" !important;
  font-family: fontAwesome !important;
  font-weight: bold;
}
