.HomeItems {
  width: 98.4%;
  margin: 0 auto;
  height: auto;

  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.HomeItems .homeItemLeft {
  width: 26%;
  height: auto;
}
.HomeItems .homeItemRight {
  width: 73%;
  height: 50vh;
}
